body{
    background-color: aquamarine;
}

#gradPrev{
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(white, white);
    height: 450px;
    width: 450px;
    border-radius: 25px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#UI{
    margin-left: auto;
    margin-right: auto;
}


#buttonUI{
    border-radius: 5px;
    width: 100px;
}

.footUI{
    text-align: center;
}